.imgpequena {
    position: absolute;
    left: 143px;
    right: 143px;
    top: 17px;
    bottom: 690px;
    margin-top: 1.5%;
}

.headerPrincipal {
    --ion-toolbar-background: #06054E !important;
}