<app-header></app-header>

<ion-content>
    <b> Consultas</b>
    <section class="DadosViagemForms">
        <ion-button href="consulta-clientes" expand="full" color="light">Clientes</ion-button>
        <ion-button expand="full" color="light">Usuarios</ion-button>
        <ion-button expand="full" color="light">Carro</ion-button>
        <ion-button expand="full" color="light">OrderServico</ion-button>
        <ion-button expand="full" color="light">Viagem</ion-button>
        <ion-button expand="full" color="light">Saida</ion-button>
        <ion-button expand="full" color="light">Entrada</ion-button>
        <ion-button expand="full" color="light">Locacao</ion-button>
        <ion-button expand="full" color="light">Manutencao</ion-button>
        <ion-button expand="full" color="light">Abastecimento</ion-button>
        <ion-button expand="full" color="light">Multa</ion-button>
        <ion-button expand="full" color="light">Contas a Pagar</ion-button>
        <ion-button expand="full" color="light">Contas a Receber</ion-button>
    </section>

</ion-content>