<ion-header class="TituloLogin">

    <img class="imglogin" src="../../assets/icon/dc9bede1caa677cd9ac93f296ccbe235.png" />

</ion-header>

<ion-content>
    <ion-item class="FormAuth1">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item class="FormAuth2">
        <ion-label position="floating">Senha</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-button fill="outline" class="BtnEntrar">Entrar</ion-button>
</ion-content>