<app-header></app-header>

<ion-content>
    <section class="DadosViagemForms">
        <ion-item class="CamposForms">
            <ion-label position="floating">Saida</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item class="">
            <ion-label position="floating">Numero de Ordens de Serviços</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item class="">
            <ion-label position="floating">Nome do motorista</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item class="">
            <ion-label position="floating">Senha</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </section>
</ion-content>